# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Databases
*.db
*.sqlite

# Environments
.env
.venv
env/
venv/
ENV/

# OS/IDE
.vscode/
.idea/
Thumbs.db
ehthumbs.db
Desktop.ini

# Deployment/Package folders
pipeline_repo/
